<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    
    <input type="text" id="datepicker" value="" />
    <input type="text" id="datepicker1" value="" />
   
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript">
    $(function() {
    
        $("#datepicker").daterangepicker({
    singleDatePicker: true, // Set singleDatePicker to true
    showDropdowns: true,
    autoUpdateInput: false,
    locale: {
      cancelLabel: 'Clear'
    }
  });

  $("#datepicker").on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('MM-DD-YYYY'));
  });

  // Handle clearing the input
  $("#datepicker").on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
  });
  $("#datepicker1").daterangepicker({
    singleDatePicker: true, // Set singleDatePicker to true
    showDropdowns: true,
    autoUpdateInput: false,
    locale: {
      cancelLabel: 'Clear'
    }
  });

  $("#datepicker1").on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('MM-DD-YYYY'));
  });

  // Handle clearing the input
  $("#datepicker1").on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
  });
    });
    </script>
    

</body>
</html>